body {
    background-color: #210e09;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 1305px;
height: 90px;
}
.logo {
    margin-left: 150px;
    margin-top: 36px;
    background-image: url(../images/2cd43ac7d2389ed9bea6693acd96d30980d6d676.png);
width: 158px;
height: 40px;
background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.navbar a{
    color: #fff;
    text-decoration: none;
}
.navbar {
     font-family: "Poppins", Arial, Helvetica, sans-serif;
     font-weight: 400;
    font-size: 14px;
    margin-top: 45px;
    word-spacing: 30px;
}
.btn {
    margin-top: 30px;
    width: 188px;
    height: 51px;
    border: 2px solid #D5621D;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.btn:hover {
    margin-top: 30px;
    width: 188px;
    height: 51px;
    border: 2px solid #87ceeb;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.first-sec {
    position: relative;
    display: flex;
}
.since {
     position: relative;
    background-image: url(../images/038ff6f7774b4e230b0731eb1cff8a45aa7b9524.png);
    width: 750px;
    height: 540px;
    top: 90px;
    left: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    border-radius: 5px;
}
.other {
    position: absolute;
    width: 370px;
    height: 540px;
    top: 90px;
    left: 924px;
    background-color: #D5621D1A;
}
.nearest {
    float: left;
    width: 185px;
    height: 39px;
    background-color: #D5621D1A;
    color: #fff;
    text-transform: uppercase;
    padding-top: 9px;
    text-align: center;
    font-weight: 700;
     font-family: "Poppins", Arial, Helvetica, sans-serif;  
}
.soon {
    float: left;
    width: 185px;
    height: 39px;
    background-color: #D5621D09;
    color: #fff;
    text-transform: uppercase;
    padding-top: 9px;
    text-align: center;
    font-weight: 700;
     font-family: "Poppins", Arial, Helvetica, sans-serif;  
}
.photo1 {
    width: 160px;
    height: 200px;
    padding-top: 45px;
    padding-left: 40px;
}
.photo2 {
    width: 160px;
    height: 200px;
     padding-top: 45px;
    padding-left: 40px;
}
.photo3 {
    width: 160px;
    height: 200px;
     padding-top: 45px;
    padding-left: 40px;
}
.photo4 {
    width: 160px;
    height: 200px;
     padding-top: 45px;
    padding-left: 40px;
}
.contant {
position: absolute;
bottom: 45px;
left: 60px;
font-weight: 700;
font-style: Black;
font-size: 40px;
line-height: 150%;
letter-spacing: 5%;
text-transform: uppercase;
color: #fff;
font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
letter-spacing: 2px;
}
.nigga {
    position: relative;
    left: 60px;
    top: 300px;
    width: 154px;
    height: 44px;
    background-color: #fff;
    border-radius: 5px;
    color: #210E09;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 5%;
    text-transform: uppercase;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 12px;
}